@font-face {
    font-family: 'Nexa';
    src: url("./font/Nexa-Heavy.ttf") format("truetype");
}

@font-face {
    font-family: 'Nexa-lite';
    src: url("./font/Nexa-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: 'Bebas';
    src: url("./font//BebasNeue-Regular.ttf") format("truetype");
}

html{
    font-family:"Nexa";
    background: rgb(28,27,27);
    background: linear-gradient(74deg, rgba(28,27,27,1) 0%, rgba(0,0,0,1) 100%);
    height: 100%;
    color: white;
 
}



html.light-mode{
    background: white;
    color: black;
    transition: 0.5s;
}

html.color-mode{
    background: rgb(207 246 238);
    color: black;
    transition: 0.5s;
}

body{
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 150px 1fr 100px;
    grid-template-areas: "header header"
                         "main sidePanel"
                         "footer footer"   ;
    min-height: 100%;
}



.header{
    font-family: "Bebas";
    display: flex;
    align-items: center;
    grid-area: header;
}

.header h1{
    letter-spacing: 3px;
    font-size: 50px;
}
.main-wrapper{
    min-height: 800px;
    grid-area: main;
}

.button-bar{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 15px;
}


.info-card{
    width: 350px;

}
.button-img{
    display: block;
    background-color: rgba(255, 255, 255, 0.418);
    width: 45px;
    height: 3px;
    padding: 2px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.button-img:hover{
    background-color: rgba(255, 255, 255, 0.848);
    transition: 0.5s;
}

.image-container{
    min-width: 800px;
}
.menu-select{
    padding-left: 50px;

}

.menu-select span{
    padding: 20px;
    font-size: 20px;
}

.menu-select span:hover{
    text-shadow: 0 0 5px #dad7d7;
    cursor: pointer;
}

.info-card p {
    font-size: 15px;
}
.side-panel{
    grid-area: sidePanel;
    font-family: "Nexa-lite";
    line-height: 25px;
    padding-left: 30px;
   
}

.spec-panel{
    font-size: 15px;
}

.spec-panel th{
   
    text-align: left;
    vertical-align: top;
}

.spec-panel td{
    padding-left: 15px;
}
.side-panel h3{
    font-family: "Nexa-lite";
}
.footer{
    grid-area: footer;
    text-align: center;
    font-family:'Nexa-lite' ;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
}
.header .logo{
    height: 40px;
    padding: 0 20px;
}
.main-background{
    width: 100%;
    height: 100%;
    position: relative;
    height: auto;
    display: block;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: black;
}
.main-background img{
    max-width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.3s opacity ease-in-out;
    display: none;
    object-fit:fill;
    max-height: 95%;
}

 @keyframes imageChange {
    from {opacity: 0;}
    to {opacity: 1;}
}

.slides{
    animation-name: imageChange;
    animation-duration: 4s;
} 

.contact-popup:hover{
    height: 100px;
    transition: 0.5s;
}

.contact-popup{
    width: 150px;
    height: 50px;
    background: #469671;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 20px;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: larger;
    padding-top: 10px;

}

.contact-body{
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.mail{
    width: 75px;
}